# general  modules
django >3.2,<3.3
python-decouple
Pillow
djangorestframework
python-decouple

# third party modules
markdown
django-filter
drf-yasg[validation]

# deployment modules


# refactoring and tests
black
flake8